*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    /* min-height: 100vh;
    flex-direction: column;
    margin: 0; */
}

.container{ 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

#main{
    display: flex;
    flex: 1;
}

#main > articel{
    flex: 1;
    order: 1;
}

/* #main > aside{
    flex: 0 0 20vw;
} */

nav{
    background-color: #03DAC5;
    width: 20vw;
}

#main > aside{
    background-color: pink;
    order: 2;
    flex: 0 0 20vw;
}

header, footer{
    background-color: khaki;
    height: 20vh;
}

header, footer, article, nav, aside{
    padding: 1em;
}
